@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#app {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #1d2639;
}

::-webkit-scrollbar-thumb:hover {
  background: #7b8ca6;
  border-radius: 30px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.95;
  z-index: 0;
}

.centerC {
  width: 100%;
  height: 100vw;
  bottom: calc(30vw - 100vw);
}
.ant-notification-notice {
  z-index: 999 !important;
}

.ant-image-preview-img-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-item {
  height: auto !important;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
  color: #1d2639 !important;
  font-size: large !important;
  font-weight: 700;
}
.ant-menu > .ant-menu-item-selected > span {
  padding-left: 10px !important;
}
.ant-menu > .ant-menu-item-selected {
  background-color: #7b8ca6 !important;
  color: white !important;
  transition: all 0.4s ease !important;
}

.ant-menu > .ant-menu-item-selected::after {
  border-right: 3px solid #1d2639 !important;
}
.ant-upload-list-picture-container > .ant-tooltip {
  display: none !important;
}

.ant-table-thead > tr > th {
  background-color: #1d2639 !important;
  color: #f2f2f2 !important;
  font-weight: 700 !important;
}

.ant-table-tbody > .ant-table-cell {
  background-color: #f2f2f2;
}

.ant-table-filter-dropdown-btns > .ant-btn-primary {
  height: auto !important;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #7b8ca6 !important;
  border: none;
}
.ant-table-filter-dropdown-btns > .ant-btn-primary > span {
  font-size: 14px;
  font-weight: 600;
}

/* react-credit-cards */
.rccs {
  margin: 0 !important;
}
